/* html, body {
    height: 100vh;
    margin: 0;
}

header {
    box-sizing: border-box;
} */

/* RIGHT SECTION */
/* #add-anime {
    max-width: 20%;
}
#query {
    width: auto;
} */

/* END RIGHT SECTION */